<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User info</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <div class="container mt-5">
        <h1>User info</h1>
        <table>

            <tr>
                <td>First name: </td>
                <td th:text="${user.firstName}"/>
            </tr>

            <tr>
                <td>Last name: </td>
                <td th:text="${user.lastName}"/>
            </tr>

            <tr>
                <td>Age: </td>
                <td th:text="${user.age}"/>
            </tr>
        </table>

        <a th:href="'/user/delete/' + ${user.id}"><button class="btn btn-lg btn-outline-danger mb-2" >Delete user</button></a> <br/>
    </div>
</head>
<body>

</body>
</html>